<div class="no-question">
    <img src="/images/noquestions.svg" alt="sem perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>faça sua primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>
